.body {
    margin: 0px;
    font-family: "Lato", "Arial", "游明朝", "YuMincho", "Hiragino Mincho ProN W3", "MS明朝", sans-serif;
}

.container {
    background: center / cover;
    background: radial-gradient(grey, black);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.link-container {
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link-container li {
    list-style: none;
    margin-right: 20px;
}

.link-container li:last-child {
    margin-right: 0px;
}

.link-container a {
    font-family: "Lato", "Arial", "游明朝", "YuMincho", "Hiragino Mincho ProN W3", "MS明朝", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 15.5px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}

.link-container a:hover {
    opacity: 0.8;
}

.card-container {
    background: linear-gradient(43deg, #4158D0, #C850C0 46%, #FFCC70);
    width: 350px;
    height: 525px;
    border-radius: 25px;
    border-style: solid;
    border-width: 1.35px;
    border-color: darkslategrey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.grad-0 {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.grad-1 {
    background-color: #FF9A8B;
    background-image: linear-gradient(45deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}

.grad-2 {
    background-color: #FFE53B;
    background-image: linear-gradient(45deg, #FF2525 0%, #FFE53B 95%);
}

.grad-3 {
    background-color: #08AEEA;
    background-image: linear-gradient(45deg, #08AEEA 0%, #2AF598 100%);
}

.blueman {
    height: 125px;
    position: absolute;
    top: 80px;
}

.message-container {
    display: flex;
    width: 76%;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.category-container {
    position: absolute;
    bottom: 44px;
}

p {
    font-family: "Lato", "Arial", "游明朝", "YuMincho", "Hiragino Mincho ProN W3", "MS明朝", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 15.5px;
    line-height: 24px;
    text-align: center;
}

.good-box {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 2px;
    right: 15px;
}

.issueNumber-container {
    position: absolute;
    top: 0px;
    left: 20px;
}

p.issue-number {
    font-family: "Lato", sans-serif;
}

p.title {
    font-style: italic;
    font-family: "Lato", sans-serif;
}

p.category {
    font-size: 17px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
}

.border {
    position: absolute;
    bottom: 53px;
    background-color: #221e1e90;
    height: 2.8px;
    width: 120px;
    border-radius: 2px;
}

.title {
    position: absolute;
    bottom: 11.5px;
    font-size: 14px;
}

.button-container {
    height: 50px;
    width: 300px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    height: 40px;
    width: 100px;
    display: flex;
    color: white;
    border-radius: 22px;
    align-items: center;
    justify-content: center;
    border-width: 0;
    padding-bottom: 2px;
    font-size: 14.5px;
    font-family: "Lato", sans-serif;
    margin-right: 40px;
}

.good-button-cover {
    background:center / cover;
    background-image: url(../asset/like.png);
    height: 53px;
    width: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0;
    margin-right: 15px;
}

.tackle-button-cover {
    background:center / cover;
    background-image: url(../asset/tackle.png);
    height: 55px;
    width: 55px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border-width: 0;
}

.button-good {
    height: 55px;
    width: 55px;
    display: flex;
    border-radius: 50%;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0);
    align-items: center;
    justify-content: center;
    border-width: 0;
    padding-bottom: 2px;
    font-size: 14.5px;
    font-family: "Lato", sans-serif;
}

.button:hover {
    opacity: 0.8;
}

.good-button-cover:hover {
    opacity: 0.8;
}

.tackle-button-cover:hover {
    opacity: 0.8;
}

.btn-text {
    font-size: 14.5px;
    font-family: "Lato", sans-serif;
}